body { 
  font-family: 'VT323', monospace;
  margin: 0; 
  padding: 0;
  font-size: 3vh;
  background-color: black;
}

h1 {
  width: 100%;
  text-align: center;
  color: #6c648b;
  padding-top: 5vh;
  font-size: 12vh;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px; 
  background-color: rgba(0, 0, 0, 0);
  color: #6c648b;
  border: 1px solid #6c648b;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}
a:hover {
  background-color: rgba(182, 161, 158, 0.2);
}

#buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  height: 50vh;
}


#gamestatediv {
  position: fixed;
	top: 5vh;
	width: 100%;
	text-align: center;
	display: block;
	z-index: 100;
  color: white;
}

#gamemodediv {
  color: #6c648b
}



/* ///////////////// game engine styles ///////////////// */

@media screen and (orientation: landscape) {
  #restartbutton {
    position: absolute;
    top: 5vh;
    left: 4vh;
    text-align: left;
    display: block;
    z-index: 101;
  }
  
  #gamemodediv {
    position: fixed;
    top: 92vh;
    left: 4vh;
    width: 100%;
    text-align: left;
    display: block;
    z-index: 100;
  }
}

@media screen and (orientation: portrait) {
  #restartbutton {
    position: fixed;
    bottom: 7vh;
    left: 5%;
    text-align: center;
    display: block;
    z-index: 101;
  }
  
  #gamemodediv {
    position: fixed;
    bottom: 2vh;
    left: 5%;
    text-align: center;
    display: block;
    z-index: 100;
  }
}
